@font-face {
  font-family: "AlibabaPuHuiTi-2-55-Regular";
  src: url('AlibabaPuHuiTi-2-55-Regular.ttf');
}
@font-face {
  font-family: "AlibabaPuHuiTi-2-85-Bold";
  src: url('AlibabaPuHuiTi-2-85-Bold.ttf');
}
@font-face {
  font-family: "AlibabaPuHuiTi-2-65-Medium";
  src: url('AlibabaPuHuiTi-2-65-Medium.ttf');
}
@font-face {
  font-family: "D-Din";
  src: url('D-DIN-Bold.ttf');
}
